fastapi
uvicorn[standard]
sqlalchemy[asyncio]
alembic
pydantic
pydantic-settings
python-dotenv
psycopg2-binary
celery
redis
pyjwt
pwdlib[argon2]
asyncpg
python-multipart
email-validator
celery
redis
httpx